body{
    background-color: rgb(217, 232, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{

}

nav{

}

nav ul{
    padding: 0px;
}

nav ul li{
    list-style-type: none;
    text-align: center;
    padding: 1px;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: royalblue;
    width: 90vw;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

nav ul li a:hover{
    color: white;
    background-color: rgb(50, 88, 204);
    padding: 6px;
}

nav ul li a:visited{
    color: lightgrey;
}

main{
    width: 95vw;
    margin: auto;
    background-color: lightcyan;
}

main div.image{
    
}

main div.heading1{
    text-align: center;
    background-color: blue;
    
}

footer{

}

.updates{

}

.updates p{

}

.srgg{

}

.srgg p{
    
}